# Configurações de Servidor
PORT=3000
NODE_ENV=production

# Chave Segura JWT de Autenticação
JWT_SECRET=via-audit-production-super-secret-key-2026

# Configurações de Banco de Dados MySQL
DB_HOST=db
DB_PORT=3306
DB_USER=audit_user
DB_PASSWORD=auditpass2026
DB_NAME=via_audit_db
DB_ROOT_PASSWORD=rootsecret
